nav {
  width: 100%;
  overflow: hidden;
  background-color: #333;
}

nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#menu a:hover,
legend {
  background-color: lightseagreen;
}

input[type="text"] {
  padding: 0.1em;
}

header {
  background-color: lightseagreen;
  padding: 1%;
  text-align: center;
  font-size: 20px;
  color: white;
}

header h4 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: lightseagreen;
}

* {
  box-sizing: border-box;
}

article {
  float: left;
  padding: 20px;
  width: 30%;
  height: 100vh;
  border: 3px solid lightseagreen;
  text-align: center;
  background-color: lightseagreen;
}

section:after {
  content: "";
  display: table;
  clear: both;
}
